<h3>{{ view.singleMovie.Title }}</h3>

<div class="row">

    <div class="col-md-4">
        <img ng-src="{{ view.singleMovie.Poster }}" alt="{{ view.singleMovie.Title }}"/>
    </div>

    <div class="col-md-8">
        <h4>Starring: {{ view.singleMovie.Actors }}</h4>
        <p>{{ view.singleMovie.Plot }}</p>
        <h3>Additonal Details</h3>
        <h5>Awards:</h5>
        <p>{{ view.singleMovie.Awards }}</p>
        <h5>Country:</h5>
        <p>{{ view.singleMovie.Country }}</p>
        <h5>Director:</h5>
        <p>{{ view.singleMovie.Director }}</p>
        <h5>Genre:</h5>
        <p>{{ view.singleMovie.Genre }}</p>
        <h5>Language:</h5>
        <p>{{ view.singleMovie.Language }}</p>
        <h5>Metascore:</h5>
        <p>{{ view.singleMovie.Metascore }}</p>
        <h5>Rated:</h5>
        <p>{{ view.singleMovie.Rated }}</p>
        <h5>Released:</h5>
        <p>{{ view.singleMovie.Released }}</p>
        <h5>Runtime:</h5>
        <p>{{ view.singleMovie.Runtime }}</p>
        <h5>Title:</h5>
        <p>{{ view.singleMovie.Title }}</p>
        <h5>Writer:</h5>
        <p>{{ view.singleMovie.Writer }}</p>
        <h5>Year:</h5>
        <p>{{ view.singleMovie.Year }}</p>
        <h5>imdbRating:</h5>
        <p>{{ view.singleMovie.imdbRating }}</p>
        <h5>imdbVotes:</h5>
        <p>{{ view.singleMovie.imdbVotes }}</p>
    </div>

</div>
